link(rel="stylesheet" href="/public/css/site.css")
link(rel="stylesheet" href="/public/css/markdown.css")
link(rel="stylesheet" href="/public/css/bulma/custom.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,700")
meta(name="viewport" content="width=device-width, initial-scale=1")
script(src="/public/js/burger.js")
