nav.navbar.is-spaced
  .container
    .navbar-brand
      a.navbar-item(href="/") 
        p &lt
          strong Seoul International School
        p
          |  Programming Club/&gt
        a.navbar-burger#nav-burger
          span
          span
          span
    .navbar-menu#nav-menu
      .navbar-end
        a.navbar-item(href="/charity") charity
        a.navbar-item(href="/projects") projects
        a.navbar-item(href="/blog") blog
        a.navbar-item(href="/teams") teams
  
  
