extends layouts/layout_main.pug

block contents
  section.hero
		.hero-body
			.container
				article.content
					h1.title= post.Title
					p.meta #{post.Author} - #{moment(post.Timestamp).format('MMM DD, YYYY')}
					div!= post.Content
