include layouts/layout_main.pug

block contents
  each post in posts.reverse()
    section.section.is-normal
      .container
        article.content
          h1.title= post.Title
          p.meta #{post.Author} - #{moment(post.Timestamp).format('MMM DD, YYYY')}
          div!= post.Content
      
  
