extends layouts/layout_main.pug

block contents 
  section.section.hero.is-normal.is-danger
    .hero-body.error
      .container.has-text-grey-darker
        .columns
          h1.column 404
          p.column.is-pulled-left page not found 
