extends layouts/layout_main.pug

block contents
  section.section.is-normal
    .container
      .columns
        .content.column.is-three-quarters
          h4 Hello World!
          p The 17-18 year was the first year for our coding club. Despite not getting participation of our members as much as we had wanted, we did pretty good for our first year, releasing a few different projects 
        .column.article-holder
          h4 recent articles
          each post in posts.reverse()
            article
              a.headline(href='/blog?id=' + post.ID)= post.Title
              p.meta #{post.Author} - #{moment(post.Timestamp).format('MMM DD, YYYY')}
              p.summary= post.Summary
