include layouts/layout_main.pug

block contents 
  each project in projects
    .section.project
      .container
        .columns
          .column
            h1= project.Name
            p= project.Description
          .column
            h4 maintainers:
            each maintainer in project.Maintainers.split(",")
              li= maintainer.trim()
          .column 
            h4 links
            ul
              if (project.Github !== null)
                li 
                  a(href=project.Github) Github
              if (project.Site !== null)
                li 
                  a(href=project.Site) Project Site
        p 
          | Status: 
          em #{project.Status_Desc}
        progress.progress(value=project.Status_Percent max="100") #{project.Status_Percent}
