.navbar {
  border-bottom: 1px solid #aaa;
  .navbar-item {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
}

.navbar-item {
  flex-direction: column;
}

.article-holder {
  display: flex;
  background-color: #f9f9f9;
  flex-direction: column-reverse;
  h4 {
    border-bottom: 1px solid #aaa;
  }
  article {
    border-top: 1px solid #ddd;
    padding: 1em 0;
  }
  .headline {
    color: #333;
  }
  .meta {
    color: #aaa;
    font-size: 0.9rem;
  }
}


.hero-body.error {
  h1 {
    user-select: none; 
    font-family: 'Karla', 'sans-serif';
    line-height: 0.8em;
    font-size: 20vw;
  }
}

.project {
  border-bottom: 3px solid #f9f9f9; 
  h1 {
    font-size: 2rem;
  }
}
